body {
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: 'Roboto Slab', serif;
}

.btn-danger {
	background-color: #767676;
	border-color: #767676;
}

.btn-danger:hover {
	background-color: #999;
	border-color: #999;
}

.panel-default>.panel-heading {
	background-color: #333;
	color: #fff;
}

.panel-default {
	border-color: #333;
}

.artLink {
	color: #767676;
}

.saved-buttons {
	margin-right: 1em;
}

.noteText {
	color: #767676;
}

.deletex {
	color: #767676;
}

.alert-warning {
	color: #fff;
	background-color: #767676;
	border-color: #767676;
}

.main-img {
	margin-bottom: 2em;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}

.savedArt {
	margin: 0 auto;
	width: 80%;
}